@import "tailwindcss";

@font-face {
  font-family: 'MyFont';
  src: url('./RedRose-VariableFont_wght.ttf');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #9bbba8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground)
  --color-primary: var(--primary);
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'MyFont', sans-serif;
}

#main-card {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--primary);
  width: 85%;

}
